version: '3.8'

services:
  # --- BASES DE DATOS ---
  db_usuarios:
    image: postgres:15-alpine
    container_name: db_usuarios_container
    restart: always
    environment:
      POSTGRES_USER: user_usuarios
      POSTGRES_PASSWORD: password_usuarios
      POSTGRES_DB: bd_usuarios
    volumes:
      - usuarios_data:/var/lib/postgresql/data
    ports:
      - "5435:5432"
    networks:
      - backend_network

  db_clientes:
    image: postgres:15-alpine
    container_name: db_clientes_container
    restart: always
    environment:
      POSTGRES_USER: user_clientes
      POSTGRES_PASSWORD: password_clientes
      POSTGRES_DB: bd_clientes
    volumes:
      - clientes_data:/var/lib/postgresql/data
    ports:
      - "5434:5432"
    networks:
      - backend_network

  # --- MICROSERVICIOS ---
  ms_usuarios:
    build:
      context: .
      dockerfile: delivery/usuarios/Dockerfile
    container_name: ms_usuarios_container
    restart: always
    environment:
      - DB_HOST=db_usuarios
      - DB_PORT=5432
      - DB_USERNAME=user_usuarios
      - DB_PASSWORD=password_usuarios
      - DB_DATABASE=bd_usuarios
      - MS_PORT=3001
    depends_on:
      - db_usuarios
    networks:
      - backend_network

  ms_clientes:
    build:
      context: .
      dockerfile: delivery/clientes/Dockerfile
    container_name: ms_clientes_container
    restart: always
    environment:
      - DB_HOST=db_clientes
      - DB_PORT=5432
      - DB_USERNAME=user_clientes
      - DB_PASSWORD=password_clientes
      - DB_DATABASE=bd_clientes
      - MS_PORT=3000
    depends_on:
      - db_clientes
    networks:
      - backend_network

  # --- GATEWAY ---
  gateway:
    build:
      context: .
      dockerfile: delivery/gateway/Dockerfile
    container_name: gateway_container
    restart: always
    ports:
      - "3000:3000"
    environment:
      - USUARIOS_HOST=ms_usuarios
      - USUARIOS_PORT=3001
      - CLIENTES_HOST=ms_clientes
      - CLIENTES_PORT=3000
      - PORT=3000
    depends_on:
      - ms_usuarios
      - ms_clientes
    networks:
      - backend_network

volumes:
  usuarios_data:
  clientes_data:

networks:
  backend_network:
    driver: bridge