version: '3.8'

services:
  # ==============================================================================
  # DELIVERY
  # ==============================================================================

  # --- GATEWAY DELIVERY ---
  gateway_delivery:
    build:
      context: .
      dockerfile: delivery/api-gateway/Dockerfile
    container_name: gateway_delivery_container
    restart: always
    ports:
      - "3000:3000" # Puerto Público HTTP
    environment:
      - PORT=3000
      # Conexión con Microservicios Delivery
      - USUARIOS_HOST=ms_usuarios_del
      - USUARIOS_PORT=3001
      - CLIENTES_HOST=ms_clientes_del
      - CLIENTES_PORT=3002
      - PRODUCTOS_HOST=ms_productos_del
      - PRODUCTOS_PORT=3003
      - INVENTARIO_HOST=ms_inventario_del
      - INVENTARIO_PORT=3004
      - PROVEEDORES_HOST=ms_proveedores_del
      - PROVEEDORES_PORT=3005
      - PEDIDOS_HOST=ms_pedidos_del
      - PEDIDOS_PORT=3006
    depends_on:
      - ms_usuarios_del
      - ms_clientes_del
      - ms_productos_del
      - ms_inventario_del
      - ms_proveedores_del
      - ms_pedidos_del
    networks: [backend_network]

  # --- MS USUARIOS (DELIVERY) ---
  db_usuarios_del:
    image: postgres:15-alpine
    container_name: db_usuarios_del_container
    restart: always
    environment:
      POSTGRES_USER: user_usuarios
      POSTGRES_PASSWORD: password_usuarios
      POSTGRES_DB: bd_usuarios
    volumes:
      - usuarios_del_data:/var/lib/postgresql/data
    ports:
      - "5435:5432" # DBeaver
    networks: [backend_network]

  ms_usuarios_del:
    build:
      context: .
      dockerfile: delivery/ms-usuarios/Dockerfile
    container_name: ms_usuarios_del_container
    restart: always
    environment:
      - MS_PORT=3001
      - DB_HOST=db_usuarios_del
      - DB_PORT=5432
      - DB_USERNAME=user_usuarios
      - DB_PASSWORD=password_usuarios
      - DB_DATABASE=bd_usuarios
    depends_on: [db_usuarios_del]
    networks: [backend_network]

  # --- MS CLIENTES (DELIVERY) ---
  db_clientes_del:
    image: postgres:15-alpine
    container_name: db_clientes_del_container
    restart: always
    environment:
      POSTGRES_USER: user_clientes
      POSTGRES_PASSWORD: password_clientes
      POSTGRES_DB: bd_clientes
    volumes:
      - clientes_del_data:/var/lib/postgresql/data
    ports:
      - "5434:5432" # DBeaver
    networks: [backend_network]

  ms_clientes_del:
    build:
      context: .
      dockerfile: delivery/ms-clientes/Dockerfile
    container_name: ms_clientes_del_container
    restart: always
    environment:
      - MS_PORT=3002
      - DB_HOST=db_clientes_del
      - DB_PORT=5432
      - DB_USERNAME=user_clientes
      - DB_PASSWORD=password_clientes
      - DB_DATABASE=bd_clientes
    depends_on: [db_clientes_del]
    networks: [backend_network]

  # --- MS PRODUCTOS (DELIVERY) ---
  db_productos_del:
    image: postgres:15-alpine
    container_name: db_productos_del_container
    restart: always
    environment:
      POSTGRES_USER: user_productos
      POSTGRES_PASSWORD: password_productos
      POSTGRES_DB: bd_productos
    volumes:
      - productos_del_data:/var/lib/postgresql/data
    ports:
      - "5436:5432" # DBeaver
    networks: [backend_network]

  ms_productos_del:
    build:
      context: .
      dockerfile: delivery/ms-productos/Dockerfile
    container_name: ms_productos_del_container
    restart: always
    environment:
      - MS_PORT=3003
      - DB_HOST=db_productos_del
      - DB_PORT=5432
      - DB_USERNAME=user_productos
      - DB_PASSWORD=password_productos
      - DB_DATABASE=bd_productos
    depends_on: [db_productos_del]
    networks: [backend_network]

  # --- MS INVENTARIO (DELIVERY) ---
  db_inventario_del:
    image: postgres:15-alpine
    container_name: db_inventario_del_container
    restart: always
    environment:
      POSTGRES_USER: user_inventario
      POSTGRES_PASSWORD: password_inventario
      POSTGRES_DB: bd_inventario
    volumes:
      - inventario_del_data:/var/lib/postgresql/data
    ports:
      - "5437:5432" # DBeaver
    networks: [backend_network]

  ms_inventario_del:
    build:
      context: .
      dockerfile: delivery/ms-inventario/Dockerfile
    container_name: ms_inventario_del_container
    restart: always
    environment:
      - MS_PORT=3004
      - DB_HOST=db_inventario_del
      - DB_PORT=5432
      - DB_USERNAME=user_inventario
      - DB_PASSWORD=password_inventario
      - DB_DATABASE=bd_inventario
    depends_on: [db_inventario_del]
    networks: [backend_network]

  # --- MS PROVEEDORES (DELIVERY) ---
  db_proveedores_del:
    image: postgres:15-alpine
    container_name: db_proveedores_del_container
    restart: always
    environment:
      POSTGRES_USER: user_proveedores
      POSTGRES_PASSWORD: password_proveedores
      POSTGRES_DB: bd_proveedores
    volumes:
      - proveedores_del_data:/var/lib/postgresql/data
    ports:
      - "5438:5432" # DBeaver
    networks: [backend_network]

  ms_proveedores_del:
    build:
      context: .
      dockerfile: delivery/ms-proveedores/Dockerfile
    container_name: ms_proveedores_del_container
    restart: always
    environment:
      - MS_PORT=3005
      - DB_HOST=db_proveedores_del
      - DB_PORT=5432
      - DB_USERNAME=user_proveedores
      - DB_PASSWORD=password_proveedores
      - DB_DATABASE=bd_proveedores
    depends_on: [db_proveedores_del]
    networks: [backend_network]

  # --- MS PEDIDOS (DELIVERY) ---
  db_pedidos_del:
    image: postgres:15-alpine
    container_name: db_pedidos_del_container
    restart: always
    environment:
      POSTGRES_USER: user_pedidos
      POSTGRES_PASSWORD: password_pedidos
      POSTGRES_DB: bd_pedidos
    volumes:
      - pedidos_del_data:/var/lib/postgresql/data
    ports:
      - "5439:5432" # DBeaver
    networks: [backend_network]

  ms_pedidos_del:
    build:
      context: .
      dockerfile: delivery/ms-pedidos/Dockerfile
    container_name: ms_pedidos_del_container
    restart: always
    environment:
      - MS_PORT=3006
      - DB_HOST=db_pedidos_del
      - DB_PORT=5432
      - DB_USERNAME=user_pedidos
      - DB_PASSWORD=password_pedidos
      - DB_DATABASE=bd_pedidos
    depends_on: [db_pedidos_del]
    networks: [backend_network]


  # ==============================================================================
  # CATERING
  # ==============================================================================

  # --- GATEWAY CATERING ---
  gateway_catering:
    build:
      context: .
      dockerfile: catering/api-gateway/Dockerfile
    container_name: gateway_catering_container
    restart: always
    ports:
      - "4000:3000" # Puerto Público HTTP (4000)
    environment:
      - PORT=3000
      # Conexión con Microservicios Catering
      - USUARIOS_HOST=ms_usuarios_cat
      - USUARIOS_PORT=4001
      - CLIENTES_HOST=ms_clientes_cat
      - CLIENTES_PORT=4002
      - EVENTOS_HOST=ms_evento_cat
      - EVENTOS_PORT=4003
      - PEDIDOS_HOST=ms_pedido_cat
      - PEDIDOS_PORT=4004
    depends_on:
      - ms_usuarios_cat
      - ms_clientes_cat
      - ms_evento_cat
      - ms_pedido_cat
    networks: [backend_network]

  # --- MS USUARIOS (CATERING) ---
  db_usuarios_cat:
    image: postgres:15-alpine
    container_name: db_usuarios_cat_container
    restart: always
    environment:
      POSTGRES_USER: user_cat_users
      POSTGRES_PASSWORD: password_cat_users
      POSTGRES_DB: bd_cat_usuarios
    volumes:
      - usuarios_cat_data:/var/lib/postgresql/data
    ports:
      - "5440:5432" # DBeaver
    networks: [backend_network]

  ms_usuarios_cat:
    build:
      context: .
      dockerfile: catering/ms-usuarios/Dockerfile
    container_name: ms_usuarios_cat_container
    restart: always
    environment:
      - MS_PORT=4001
      - DB_HOST=db_usuarios_cat
      - DB_PORT=5432
      - DB_USERNAME=user_cat_users
      - DB_PASSWORD=password_cat_users
      - DB_DATABASE=bd_cat_usuarios
    depends_on: [db_usuarios_cat]
    networks: [backend_network]

  # --- MS CLIENTES (CATERING) ---
  db_clientes_cat:
    image: postgres:15-alpine
    container_name: db_clientes_cat_container
    restart: always
    environment:
      POSTGRES_USER: user_cat_clients
      POSTGRES_PASSWORD: password_cat_clients
      POSTGRES_DB: bd_cat_clientes
    volumes:
      - clientes_cat_data:/var/lib/postgresql/data
    ports:
      - "5441:5432" # DBeaver
    networks: [backend_network]

  ms_clientes_cat:
    build:
      context: .
      dockerfile: catering/ms-clientes/Dockerfile
    container_name: ms_clientes_cat_container
    restart: always
    environment:
      - MS_PORT=4002
      - DB_HOST=db_clientes_cat
      - DB_PORT=5432
      - DB_USERNAME=user_cat_clients
      - DB_PASSWORD=password_cat_clients
      - DB_DATABASE=bd_cat_clientes
    depends_on: [db_clientes_cat]
    networks: [backend_network]

  # --- MS EVENTO (CATERING) ---
  db_evento_cat:
    image: postgres:15-alpine
    container_name: db_evento_cat_container
    restart: always
    environment:
      POSTGRES_USER: user_cat_event
      POSTGRES_PASSWORD: password_cat_event
      POSTGRES_DB: bd_cat_evento
    volumes:
      - evento_cat_data:/var/lib/postgresql/data
    ports:
      - "5442:5432" # DBeaver
    networks: [backend_network]

  ms_evento_cat:
    build:
      context: .
      dockerfile: catering/ms-evento/Dockerfile
    container_name: ms_evento_cat_container
    restart: always
    environment:
      - MS_PORT=4003
      - DB_HOST=db_evento_cat
      - DB_PORT=5432
      - DB_USERNAME=user_cat_event
      - DB_PASSWORD=password_cat_event
      - DB_DATABASE=bd_cat_evento
    depends_on: [db_evento_cat]
    networks: [backend_network]

  # --- MS PEDIDO (CATERING) ---
  db_pedido_cat:
    image: postgres:15-alpine
    container_name: db_pedido_cat_container
    restart: always
    environment:
      POSTGRES_USER: user_cat_order
      POSTGRES_PASSWORD: password_cat_order
      POSTGRES_DB: bd_cat_pedido
    volumes:
      - pedido_cat_data:/var/lib/postgresql/data
    ports:
      - "5443:5432" # DBeaver
    networks: [backend_network]

  ms_pedido_cat:
    build:
      context: .
      dockerfile: catering/ms-pedido/Dockerfile
    container_name: ms_pedido_cat_container
    restart: always
    environment:
      - MS_PORT=4004
      - DB_HOST=db_pedido_cat
      - DB_PORT=5432
      - DB_USERNAME=user_cat_order
      - DB_PASSWORD=password_cat_order
      - DB_DATABASE=bd_cat_pedido
    depends_on: [db_pedido_cat]
    networks: [backend_network]


# --- VOLÚMENES PARA PERSISTENCIA DE DATOS ---
volumes:
  # Delivery
  usuarios_del_data:
  clientes_del_data:
  productos_del_data:
  inventario_del_data:
  proveedores_del_data:
  pedidos_del_data:
  # Catering
  usuarios_cat_data:
  clientes_cat_data:
  evento_cat_data:
  pedido_cat_data:

# --- RED COMPARTIDA ---
networks:
  backend_network:
    driver: bridge