version: '3.8'

services:
  postgresUsuarios:
    image: postgres:15-alpine
    container_name: ukiyoBD-ms-usuarios
    env_file:
      - .env
    environment:
      CONTEXT: /home/fabri/devops/DespAW/Docker
      # variables de entorno para ejecutar el contenedor de postgres
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_HOST: ${DB_HOST}
      POSTGRES_PORT: ${DB_PORT}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "${DB_PORT}:5432"
    networks: 
      - ukiyo-network

  ms-usuarios:
      profiles: ["usuarios"]
      build:
        context: ${CONTEXTO}
        dockerfile: ./apps/${MICROSERVICIO}/deploy/Dockerfile
        args:
          - CONTEXT=${CONTEXTO}
          - MICROSERVICIO=${MICROSERVICIO}
      container_name: ukiyo-${MICROSERVICIO}
      # restart: unless-stopped (usar en produccion)
      ports:
        - "${PORT}:3001"
      env_file:
        - .env
      environment:
        - NODE_ENV=production
      # depends_on:
      #   - postgres:
      #     condition: service_healthy
      networks: 
        - ukiyo-network
      # healtcheck:
      #   test: ["CMD", "node", "-e", "require('net').connect(3001)"]
      #   interval: 10s
      #   timeout: 5s
      #   retries: 5

# se crea el volumen con nombre (unidad logica)
volumes:
  postgres_data:

# se crea la red --> no lleva subnet 172.10.120.0/24
networks:
  ukiyo-network:
    driver: bridge